.App {
    position: relative;
    text-align: center;
}
.isdone {
    text-decoration: line-through;
    display: none;
}
.todoDone{
    text-decoration: line-through;
    opacity: .5;
}
ul {
    text-align: left;
    list-style: none;
    display: block;
}
.container-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20pxpx;

}
